@charset "UTF-8";

@font-face {
	font-family: 'deathrattlebb';
	src: url('../fonts/deathrattlebb_reg.ttf') format('truetype');
}

body {
	padding-top: 70px;
	background-color: black;
}

p {
	margin: 0;
}
hr{
	margin: 5px 0;
}

.my_icon {
	height: 46px;
	border: none;
	border-radius: 50%;
}

.my-footer {
	margin-top: 30px;
	width: 100%;
	height: 100px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px #3f3f3f solid;
}

.my-footer-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.my-footer-items p {
	margin: 3px;
	color: #717171;
}

.my-navbar {
	width: 100%;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.my-navbar-items {
	width: 100%;
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
}

.my-login-link {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.my-login-link:hover {
	color: white;
}

@media ( max-width : 768px) {
	.your-email, .my-login-link {
/* 		display: none; */
	}
}

.my-logo {
	width: 140px;
	/* 	margin-left: 30px; */
}

.my-logo a {
	color: white;
	font-family: 'deathrattlebb';
	text-decoration: none;
	font-size: 36px;
	width: 140px;
    display: block;
}

.my-nav-btn-box {
	display: flex;
}

.my-profile-btn {
	margin-right: 15px;
	color: white;
	right: 0;
	/* 	width: 300px; */
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
}

.my-profile-img {
	aspect-ratio: auto 32/32;
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

#searchbar img {
	margin: 3px 0 0 5px;
}

#sidebar>section {
	width: 250px;
	height: 50px;
}

#searchbar {
	display: flex;
	flex-direction: row;
	width: 300px;
	height: 40px;
	margin: 0px 10px 0px 10px;
	border: none;
	outline: none;
	background-color: whitesmoke;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 700;
	overflow: hidden;
}

#searchbar .my-input {
	width: 87%;
	border: none;
	outline: none;
	background-color: whitesmoke;
}

#searchbar .my-input2 {
	width: 75%;
	border: none;
	outline: none;
	background-color: whitesmoke;
}

#searchbar i {
	margin-left: 20px;
	margin-top: 4px;
	color: white;
}

.my-header-text {
	font-family: 'deathrattlebb';
	display: flex;
	align-items: center;
	height: 265px;
	text-align: center;
	color: white;
	flex-direction: column;
	justify-content: center;
	background-image: url('../image/dark_img1.jpg');
	background-size: cover;
	margin-bottom: 25px;
}

#scr_btn {
	background: white;
	margin-top: 5px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: none;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
}

#scr_btn.visible {
	opacity: 1;
	cursor: pointer;
}

#scr_btn img {
	width: 31px;
	height: 31px;
}

.my-side-btn {
	position: fixed;
	bottom: 15px;
	right: 15px;
	display: flex;
	flex-direction: column;
}

.my-side-btn-write {
	position: fixed;
	top: 130px;
	left: 25px;
	display: flex;
	flex-direction: column;
}

.side-write {
/* 	background: white; */
	margin-bottom:10px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 28px;
	font-weight: bolder;
	text-decoration: none;
	font-family: 'deathrattlebb';
}
.side-write:hover {
	color: black;
	text-decoration: none;
}

.side-write img {
	width: 31px;
	height: 31px;
}

.my-postInfo-top {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.my-postInfo-middle {
	display: flex;
	flex-direction: row;
	height: 200px;
}

.my-postInfo-img {
	width: 200px;
	border-right: #3f3f3f;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: #3f3f3f 1px solid;
	margin: 0;
	padding: 0;
	border-radius: 0 0 0 5px;
}

.my-postInfo-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
}
.my-postInfo-titlecontent{
/* 	width: 100%; */
/* 	height: 100%; */
	overflow: hidden;
}
.my-postInfo-title {
	white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;
}
.my-postInfo-content {
/* 	max-width: 100%; */
    max-height: 69px;        /* 나중에 ... 처리하기 */
/* 	text-overflow: ellipsis; */
}

.my-postInfo-right {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.my-profile-info {
	height: 100%;
	display: flex;
	flex-direction: row;
/* 	justify-content: space-between; */
	align-items: center;
}
.my-profile-category{
	display: flex;
	align-items: center;
	padding-left: 10px;
	border: #333333 1px solid;
	border-radius: 10px;
	margin-bottom: 10px;
	height: 40px;
	color: white;
	text-decoration: none;
}
.my-profile-category:hover{
	color: white;
	background: #333333;
}

.my-profile-category.active {
	background: #333333;
}
/* .my-profile-category:active{ */
/* 	color: white; */
/* 	background: #333333; */
/* } */

.my-profile-input{
	width: 100%;
	height: 50px;
	border-radius: 10px;
	padding-left: 15px;
}
.my-profile-left{
	width: 100px;
	height: 100px;
	margin: 10px 26px 10px 10px;
}
.my-profile-left > img {
	background: yellow;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.my-profile-right{
	width: calc(100% - 152px);
}

.my-img-category {
	margin-right: 12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.my-postInfo-main {
	width: calc(100% - 200px);
	height: 200px;
}

.card {
	background-color: inherit;
	border: #1b2021 2px solid;
	color: white;
}

.my-card-header {
	background: linear-gradient(to right, #181818, #232526, #414141);
	/* 	background-color: #1b2021; */
	border-bottom: #1b2021 2px solid;
}

.my-bold {
	font-weight: bold;
}

.my-font-small {
	font-size: 13px;
	color: #acacac;
}

.my-end {
	height:38px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.my-end p {
	margin: 0;
}

.my-category {
	padding: 0;
	display: flex;
	justify-content: space-around;
	display: flex;
}

.my-catrgory-box {
	padding: 8px 3px 8px 3px;
	height: 125px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.my-category-box-info {
	padding: 8px 3px 8px 3px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-category a {
	padding: 0;
	text-decoration: none;
	color: white;
	margin: 0;
	width: 30%;
	height: 50px;
	/* 	border-bottom: #3f3f3f 1px solid; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.my-pre-page {
	border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
}
.my-next-page {
	border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
}







/* =================  로그인 =============================================== */
.my-err-msg {
	margin-top: -328px;
	position: relative;
	left: 50%;
    transform: translateX(-50%);
	width: 500px;
	font-size: 13px;
	color: red;
	text-align: center;
	font-weight: bold;
}
.my-btn-login:hover {
	background: #212529;
	border: none;
	color: white;
}

.my-logo span {
	font-family: 'deathrattlebb';
	color: white;
}

.my-middle {
	width: 100%;
	text-align: center;
	margin: 40px 0 20px 0;
}

.my-fs1 {
	font-size: 100px;
}

.my-fs2 {
	font-size: 20px;
}
.my-m-position{
	display: flex;
	justify-content: center;
	align-items: center;
}
.my-col{
	flex-direction: column;
}
.my-login {
	/* 	margin-top: 30px; */
	margin-bottom: 130px;
	width: 500px;
	height: 400px;
/* 		background: linear-gradient(to bottom  right, #181818, #232526, #414141); */
	background: #1a1a1a;
	border-radius: 20px;
}

.my-login label {
	color: white;
}

.my-login-form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/* 	background: white; */
}

.my-login-form div {
	text-align: center;
}

.my-join {
	/* 	margin-top: 30px; */
	margin-bottom: 130px;
	width: 500px;
	height: 400px;
	background: #1a1a1a;
	border-radius: 20px;
}

.my-input {
	/* 	width: 350px; */
	margin-left: 20px;
}

.my-btn-login {
	width: 180px;
	height: 40px;
	border-radius: 20px;
}

.my-oauth-login a {
	margin: 0 5px 0 5px;
}
.start-blog {
	background: linear-gradient(to right, #181818, #232526, #414141);
	text-decoration: none;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
}
.start-blog{
	
}
/* =========================================== */
.my-mr1 {
	margin-right: 12px;
}
.my-mr2{
	margin-right: 16px;
}
.my-ml1 {
	margin-left: 12px;
}

.my-mt0 {
	margin-top: 8px;
}

.my-mt1 {
	margin-top: 30px;
}

.my-mt2 {
	margin-top: 80px;
}

.my-mb1 {
	margin-bottom: 8px;
}
.my-mb2 {
	margin-bottom: 20px;
}
.my-mb3 {
	margin-bottom: 35px;
}


.my-sb {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.my-fc-71 {
	color: #717171;
	text-decoration: none;
}

.my-fc-w {
	color: white;
	text-decoration: none;
}

p.my-fc-w {
	font-size: 20px;
	font-weight: bold;
}

a.my-fc-71:hover {
	color: white;
}

.my-cur-p {
	cursor: pointer;
}

.my-mlr-1 {
	margin: 0 5px 0 5px;
}
.my-float-right {
	text-align: right;
}

.my-bg-warning {
	background: linear-gradient(to right, #F7971E, #F37335);
}
.my-bg-danger {
	background: linear-gradient(to right, #8E0E00, #b31217);
}
a.my-bg-warning:hover {
	background: linear-gradient(to right, #ffb347, #ffcc33);
}
a.my-bg-danger:hover {
	background: linear-gradient(to right, #D31027, #EA384D);
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}
/* 오버라이드 */
.page-link {
	color: white;
	background-color: #212529;
	border: none;
	margin: 0 5px 0 -1px;
}

.page-link:hover {
	color: white;
	background-color: #424649;
	border: none;
}

.page-link:focus {
	color: white;
	background-color: #424649;
	border: none;
}

.page-link.active, .active>.page-link {
	color: white;
	background-color: #424649;
	border: none;
	font-weight: bold;
}

.page-link.disabled, .disabled>.page-link {
	background-color: #1b2021;
	border: none;
}

/* ===================================================== 테스트*/
.button-container-2 {
	position: relative;
	width: 180px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	transition: 0.5s;
	border-radius: 20px;
	
}

.button-container-2 button {
	width: 101%;
	height: 100%;
/* 	background: linear-gradient(to right, silver, gray); */
	background: linear-gradient(to right, #232526, #414141);
	color: white;
	-webkit-mask:
		url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
	mask:
		url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
	-webkit-mask-size: 3000% 100%;
	mask-size: 3000% 100%;
	border: none;
	cursor: pointer;
	-webkit-animation: ani2 0.7s steps(29) forwards;
	animation: ani2 0.7s steps(29) forwards;
/* 	추가 */
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-container-2 button:hover {
	-webkit-animation: ani 0.7s steps(29) forwards;
	animation: ani 0.7s steps(29) forwards;
}

.mas {
	background: linear-gradient(to right, #8E0E00, #b31217);
	color: #ffffff;
	height: 99.8%;
	position: absolute;
	text-align: center;
	width: 99.8%;
	position: absolute;
	overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
    /* 	추가 */
    border-radius: 20px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*     margin-top: 0.5px; */
}

@-webkit-keyframes ani {from { -webkit-mask-position:00;
	mask-position: 0 0;
}

to {
	-webkit-mask-position: 100% 0;
	mask-position: 100% 0;
}

}
@keyframes ani {from { -webkit-mask-position:00;
	mask-position: 0 0;
}

to {
	-webkit-mask-position: 100% 0;
	mask-position: 100% 0;
}

}
@-webkit-keyframes ani2 {from { -webkit-mask-position:100%0;
	mask-position: 100% 0;
}

to {
	-webkit-mask-position: 0 0;
	mask-position: 0 0;
}

}
@keyframes ani2 {from { -webkit-mask-position:100%0;
	mask-position: 100% 0;
}

to {
	-webkit-mask-position: 0 0;
	mask-position: 0 0;
}
}

/* ============================== 상세보기 =================================*/
.my-details-body{
	width: 850px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	
}
.my-details{
	width: 850px;
	margin: 0 0 30px 0;
/* 	background: #666666; */
}
.my-details-middle{
	padding: 30px;
	background: #121212;
	border-radius: 5px 5px 0 0;
}
.my-box-end{
	height: 8px;
/* 	margin-bottom: 16px; */
	background: linear-gradient(to right, #181818, #232526, #414141);
	border-radius: 0 0 5px 5px;
}
.my-box-start{
	height: 8px;
/* 	margin-bottom: 16px; */
	background: linear-gradient(to right, #181818, #232526, #414141);
	border-radius: 5px 5px 0 0;
}
.my-details-title{
	color: white;
	font-size: 36px;
	font-weight: bold;
}
.my-details-info{
	color: white;
	font-size: 16px;
	padding: 30px 0 40px 0;
}
.my-details-content{
	color: white;
/* 	font-size: 16px; */
}
.my-writer{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.my-writer:hover{
	color: white;
	text-decoration: underline;
}

/* =============================================================== 드롭다운 ==== */
.dropdown {
    position: relative;
}

.dropdown-img{
	margin-right: 16px;
	width: 20px;
	height: 20px
}

.dropdown-elm{
	height: 40px;
	padding: 0 16px;
}
.dropdown-elm-top{
	height: 60px;
	padding: 0 16px;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1a1a1a;
    width: 240px;
    z-index: 1;
    border-radius: 10px;
    padding: 8px 0;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;
}

.dropdown-content a:hover {
	
}

.dropdown-toggle.clicked .dropdown-content {
    display: block;
}

/* ====================================================================== */
.weather-box {
	width: 100%;
  	display: flex;
}

.weather-box > div {
	flex: 1;
/* 	border: 1px solid #ccc; */
	box-sizing: border-box;
	padding: 10px 0;
	text-align: center;
	border-radius: 8px;
	background: linear-gradient(to bottom right, #182848, #2B32B2);
}
.weather-box > div > * {
	margin: 0;
}
.weather2 {
	margin: 0 16px 0 16px;
}
.my-row{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.my-center{
	justify-content: center;
}